[submodule "thirdparty/MiniPID"]
	path = thirdparty/MiniPID
	url = https://github.com/tekdemo/MiniPID
[submodule "thirdparty/simpleini"]
	path = thirdparty/simpleini
	url = https://github.com/brofield/simpleini
[submodule "thirdparty/GTAVMenuBase"]
	path = thirdparty/GTAVMenuBase
	url = https://github.com/E66666666/GTAVMenuBase
[submodule "thirdparty/GTAVDashHook"]
	path = thirdparty/GTAVDashHook
	url = https://github.com/E66666666/GTAVDashHook
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
